<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ma première vue Vue.js</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>

    <div id="app">
        <!-- on peut spécifier explicitement de passer l'event submit dans la fonction :
            <form action="login.php" v-on:submit="onSubmit" id="login-form">
            ou pas (c'est pareil) : -->
        <form action="login.php" v-if="!estConnecte" v-on:submit="onSubmit" id="login-form">
            <h2>Bienvenue, connectez-vous</h2>

            <label for="form-login">Identifiant</label>
            <input type="text" id="form-login" placeholder="Login" v-model="identifiant"/>
            <span v-if="identifiant.length <= 5" title="Login trop court">!</span>
            <br/>

            <label for="form-password">Mot de passe</label>
            <input type="password" id="form-password" placeholder="Mot de passe" v-model="motDePasse"/>
            <span v-if="motDePasse.length <= 5" title="mdp trop court">!</span>
            <br/>

            <input type="submit" value="coincoin"/>
        </form>







        <section v-else>
            {{ game }}

            <div v-if="game.status === 'idle'" class="full-screen">
                <h2>Choisissez un titre pour votre jeu</h2>
                <input type="text" v-model="game.title" placeholder="Titre amusant">
                <p>
                    Pour partager le questionnaire, cliquez ici.<br/>
                    <button @click="createGame">Créer la partie !</button>
                </p>
            </div>
            
            <div v-else-if="game.status === 'lobby'" class="full-screen">
                <h2>Bienvenue ! En attente des joueurs...</h2>
                <h3>{{ game.title }}</h3>
                <p>
                    {{ game.questions.length }} questions 
                    pour un total de {{ questionsDuration }} secondes
                </p>
                <ul>
                    <li v-for="player in game.players">{{player}}</li>
                </ul>
                <button @click="startGame">Démarrer !</button>
            </div>

            <div v-else-if="game.status === 'pending'" class="full-screen">
                <h2>Question {{ game.currentQuestion + 1 }} sur {{ game.questions.length }}</h2>
                <p>{{ question.label }}</p>
                <span>{{ game.timer }}s.</span>
                <ul>
                    <li>{{ question.response1 }}</li>
                    <li>{{ question.response2 }}</li>
                    <li>{{ question.response3 }}</li>
                    <li>{{ question.response4 }}</li>
                </ul>

                <button>précédent</button>
                <button @click="nextQuestion">suivant</button>
            </div>
            <div v-else-if="game.status === 'ended'" class="full-screen">
                partie terminée
            </div>

        </section>
    </div>



    <!-- Version de dev -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- 
        Le jour où on passe en production, on basculera sur ce code :
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> 
    -->
</body>
<script src="./login.js"></script>
</html>